#header {
  background: white;
}

nz-layout {
  min-height: 100vh;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  //margin: 16px 30px 16px 0;
  float: left;
}

.logo > span {
  color: #02ff73;
  font-weight: bold;
  font-size: 20px;
}

.account-info {
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  //margin: 16px 30px 16px 0;
  float: right;

  display: flex;
  flex-direction: row;
}


.balance {
  font-weight: bold;
}

.avatar {
  margin-top: 0.1px;
  margin-left: 20px;
  cursor: pointer;
}

.container {
  background: #fff;
  //margin: 24px;
  padding: 24px;
  min-height: 100vh;
}
